# Default ignored files
/shelf/
/workspace.xml
# Rider ignored files
/projectSettingsUpdater.xml
/contentModel.xml
/modules.xml
/.idea.Know Your Scholarship!.iml
# Datasource local storage ignored files
/../../../../../../../../../:\Users\Shahriar\source\repos\Know-Your-Scholarship\.idea\.idea.Know Your Scholarship!\.idea/dataSources/
/dataSources.local.xml
# Editor-based HTTP Client requests
/httpRequests/
